/Test/nbproject/private/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplication2/dist/
/Level2/nbproject/private/
/Level2/build/
/Level3/nbproject/private/
/Level3/build/
/Level4/nbproject/private/
/Level4/build/